.landing-heading{
    color: rgb(44, 44, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 300;
}